# 10. Create a ser and populate it with random numbers. Convert the series ser into a dataframe with its index 
as another column on the dataframe.

In [1]:
import pandas as pd
import random

In [2]:
# init series w/ rand values
ser = pd.Series([random.randint(1, 100) for _ in range(5)])
print(ser, type(ser))

0    48
1     3
2    23
3    88
4    68
dtype: int64 <class 'pandas.core.series.Series'>

In [24]:
df = pd.DataFrame(ser,index=ser.index)
# df = pd.DataFrame(ser,index=ser)
df
# ser.

    0
0  48
1   3
2  23
3  88
4  68