# 13. Import every 50th row of BostonHousing dataset as a dataframe.

In [1]:
import pandas as pd

In [2]:
csv_path = 'data sets/raw.githubusercontent.com_selva86_datasets_master_BostonHousing.csv'
df = pd.read_csv(csv_path, skiprows=lambda x: x % 50 != 0)

In [3]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.21977,0,6.91,0,0.448,5.602,62.0,6.0877,3,233,17.9,396.90,16.20,19.4
1,0.06860,0,2.89,0,0.445,7.416,62.5,3.4952,2,276,18.0,396.90,6.19,33.2
2,2.73397,0,19.58,0,0.871,5.597,94.9,1.5257,5,403,14.7,351.85,21.45,15.4
3,0.03150,95,1.47,0,0.403,6.975,15.3,7.6534,3,402,17.0,396.90,4.56,34.9
4,0.19073,22,5.86,0,0.431,6.718,17.5,7.8265,7,330,19.1,393.74,6.56,26.2
5,0.05561,70,2.24,0,0.400,7.041,10.0,7.8278,5,358,14.8,371.58,4.74,29.0
6,0.02899,40,1.25,0,0.429,6.939,34.5,8.7921,1,335,19.7,389.85,5.89,26.6
7,9.91655,0,18.10,0,0.693,5.852,77.8,1.5004,24,666,20.2,338.16,29.97,6.3
8,7.52601,0,18.10,0,0.713,6.417,98.3,2.1850,24,666,20.2,304.21,19.31,13.0
9,0.17783,0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5