# 10. Create a ser and populate it with random numbers. Convert the series ser into a dataframe with its index 
as another column on the dataframe.

In [4]:
import pandas as pd
import random

In [5]:
# init series w/ rand values
ser = pd.Series([random.randint(1, 100) for _ in range(5)])
print(ser, type(ser))

0     8
1    31
2    84
3    67
4    99
dtype: int64 <class 'pandas.core.series.Series'>

In [6]:
# df = pd.DataFrame(index=ser.index,"value"=ser)
df = pd.DataFrame(ser,index=ser)
df

     0
8  NaN
31 NaN
84 NaN
67 NaN
99 NaN