# 20. In df, use apply method to replace the missing values in Min.Price with the column's mean and those in Max.Price with the column's median.

In [98]:
import pandas as pd
import numpy as np

In [99]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [100]:
df["Min.Price"].value_counts()

Min.Price
8.4     3
14.2    3
7.3     2
13.0    2
8.7     2
       ..
9.0     1
9.1     1
29.2    1
45.4    1
24.8    1
Name: count, Length: 72, dtype: int64

In [101]:
df['Min.Price']

0     12.9
1     29.2
2     25.9
3      NaN
4      NaN
      ...
88    16.6
89    17.6
90    22.9
91    21.8
92    24.8
Name: Min.Price, Length: 93, dtype: float64

In [102]:
def repl_nan(val, replace_with):
    # print()
    # print(f"val   {val} {type(val)}")
    # # print(f"np.nan  {np.nan} {type(np.nan)}")
    # # print(np.isnan(val), val == np.nan)
    # # print(f"replace_with {replace_with}")
    if np.isnan(val) or val == None:
        # print("\t",val,replace_with)
        val = replace_with
    return val

mean_val = df['Min.Price'].mean()
df['Min.Price'] = df['Min.Price'].apply(lambda x : repl_nan(x, mean_val))
# df['Min.Price'].mean()
df['Min.Price']

0     12.900000
1     29.200000
2     25.900000
3     17.118605
4     17.118605
        ...
88    16.600000
89    17.600000
90    22.900000
91    21.800000
92    24.800000
Name: Min.Price, Length: 93, dtype: float64

In [103]:
df['Min.Price'].value_counts()

Min.Price
17.118605    7
8.400000     3
14.200000    3
7.300000     2
13.000000    2
            ..
9.000000     1
29.200000    1
12.400000    1
45.400000    1
24.800000    1
Name: count, Length: 73, dtype: int64

In [104]:
df['Max.Price'] = df['Max.Price'].apply(lambda x : repl_nan( x, df['Max.Price'].median() ))
df['Max.Price']

0     18.80
1     38.70
2     32.30
3     44.60
4     19.15
      ...
88    22.70
89    22.40
90    23.70
91    23.50
92    28.50
Name: Max.Price, Length: 93, dtype: float64

In [105]:
np.nan
pd.NaT

NaT