# 4. Give a name to the series ser calling it with your favourite movie/book/series/cartoon character.

In [2]:
import pandas as pd

In [4]:
ser = pd.Series([
    "Guardians of the Galaxy",
    "Spider-Man: Across the Spider-Verse",
    "Fast X",
],
name = "movies")
ser

0                Guardians of the Galaxy
1    Spider-Man: Across the Spider-Verse
2                                 Fast X
Name: movies, dtype: object

In [5]:
# df = ser.to_frame()
# df

                                movies
0              Guardians of the Galaxy
1  Spider-Man: Across the Spider-Verse
2                               Fast X