# 18. Create a dataframe with rows as strides from a given series.

In [28]:
import pandas as pd

In [31]:
nr = [_ for _ in range(10)]
s = pd.Series(nr)
# s = pd.Series(nr, index=nr)

# print(s.to_dict())
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [32]:
df = pd.DataFrame([s])
# df = pd.DataFrame([s.to_dict()])
df

   0  1  2  3  4  5  6  7  8  9
0  0  1  2  3  4  5  6  7  8  9