### Creating Classes for School Management System

In [7]:
# 2. Combine ser1 and ser2 to form a dataframe. You are free to choose the values for ser1
# and ser2.

Student Alex winston deleted

In [3]:
import pandas as pd

In [4]:
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series(['a','b','c','d'])

In [6]:
pd.concat([ser1, ser2])

0    1
1    2
2    3
3    4
4    5
0    a
1    b
2    c
3    d
dtype: object