# 5. Populate ser1 and ser2 with random numbers. From ser1 remove items present in ser2.

In [63]:
import pandas as pd
import random

In [64]:
# randomize 2 lists
rand_len = 5
rand_lst1 = [random.randint(0,10) for i in range(rand_len)]
rand_lst2 = [random.randint(0,10) for i in range(rand_len)]

In [65]:
# init series w/ rand values
ser1 = pd.Series(rand_lst1)
ser2 = pd.Series(rand_lst2)
print(ser1, type(ser1))
print(ser2, type(ser2))

0     2
1     0
2     2
3    10
4     0
dtype: int64 <class 'pandas.core.series.Series'>
0    0
1    2
2    1
3    4
4    4
dtype: int64 <class 'pandas.core.series.Series'>

In [66]:
# get similar elements
same_elements = set(ser1).intersection(ser2)
same_elements

{0, 2}

In [72]:
# print(type(ser1))
# print(list(same_elements))
# ser1.drop([0])
ser1.drop(list(same_elements))

<class 'pandas.core.series.Series'>
[0, 2]

1     0
3    10
4     0
dtype: int64