# 10. Create a ser and populate it with random numbers. Convert the series ser into a dataframe with its index 
as another column on the dataframe.

In [7]:
import pandas as pd
import random

In [8]:
# init series w/ rand values
ser = pd.Series([random.randint(1, 100) for _ in range(5)])
print(ser, type(ser))

0    100
1     38
2     69
3     31
4     56
dtype: int64 <class 'pandas.core.series.Series'>

In [9]:
# df = pd.DataFrame(index=ser.index,"value"=ser)
df = pd.DataFrame(ser,index=ser.index)

df

     0
0  100
1   38
2   69
3   31
4   56